.btn-toggle {
    position: absolute;
    top: 90px;
    right: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: fixed;
    
}

.dark-btn {
    background:#f1f1f1;
    color:black;
    
}
@media (max-width:1199px){
    .btn-toggle {
        position: relative;
        top: -40px;
        /* bottom: 400px; */
        left: 430px;
        /* right: 1000px; */
        border-radius: 50%;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        
    } 
}
@media (max-width:732px){
    .btn-toggle {
        position: relative;
        top: 260px;
        left: 590px;
        border-radius: 50%;
        width: 59px;
        height: 59px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        position: fixed;
    }
    
   }
  
   @media (max-width:400px){
    .btn-toggle {
        position: relative;
        top: 264px;
        left: 250px;
        border-radius: 50%;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: none;
        position: fixed;
    
    }
    
   }
   